@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
  --cyan: hsl(179, 62%, 43%);
  --yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --dark-gray: hsl(218, 22%, 67%);
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
  height: 100vh;
  background-color: var(--light-gray);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.component {
  width: 300px;
  border-radius: 5px;
  /* Fix of rounded corners - content was overflowing */
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 0.8rem;
}

/* General box styles */
.box {
  padding: 20px;
  color: var(--light-gray);
  line-height: 1.5;
}

.box h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* Box 1 */
.box-white {
  background-color: var(--white);
}

.cyan-text {
  color: var(--cyan);
}

.highlight {
  color: var(--yellow);
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.dark-text {
  color: var(--dark-gray);
}

/* Box 2 */
.box-cyan {
  background-color: var(--cyan);
}

.price {
  display: flex;
  align-items: center;
}

.large-text {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 10px;
}

.box-cyan small {
  opacity: 0.8;
}

.signUpBtn {
  width: 100%;
  margin-top: 25px;
  padding: 10px 0;
  background-color: var(--yellow);
  border: 1px solid yellow;
  border-radius: 5px;
  color: var(--white);
  font-weight: bold;
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Box 3 */
.box-cyan-light {
  background-color: var(--cyan);
  opacity: 0.8;
}

.box-cyan-light ul {
  list-style-type: none;
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}

@media (min-width: 800px) {
  .component {
    width: 600px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .box {
    padding: 40px;
  }

  .box-white {
    grid-column: 1 / span 2;
  }

  .box-white h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}
